---
import { Icon } from "astro-icon"
---

<p class='mt-4 hidden sm:inline text-xs text-center'>
  Built using <a target='_blank' class='' href='https://astro.build'
    ><Icon name='astro' class='max-h-5 px-1 inline' /></a
  > and <a target='_blank' href='https://tailwindcss.com'
    ><Icon name='tailwindcss' class='max-h-3 px-1 inline' /></a
  >
</p>
