---
import { Image } from "astro:assets"
const { logo, title } = Astro.props
---

<div
  id='header-fixed'
  class='fixed top-0 left-0 h-auto w-full bg-gray-200 z-5 p-1 shadow-md -translate-y-full transition-transform duration-300 ease-in-out'
>
  <a href='/'>
    <Image class='mx-auto' src={logo} alt={title} height={30} />
  </a>
</div>

<script>
  const headerHide = () => {
    document.getElementById("header-fixed").classList.remove("translate-y-0")
    document.getElementById("header-fixed").classList.add("-translate-y-full")
  }

  const headerShow = () => {
    document
      .getElementById("header-fixed")
      .classList.remove("-translate-y-full")
    document.getElementById("header-fixed").classList.add("translate-y-0")
  }
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        // const intersecting = entry.isIntersecting
        const almostGone = entry.intersectionRatio > 0.2
        if (almostGone) {
          headerHide()
        } else {
          headerShow()
        }
      })
    },
    { threshold: [0.2] }
  )
  observer.observe(document.getElementById("header"))

  document.addEventListener(
    "astro:load",
    () => {
      // This only runs once.
      headerHide()
    },
    { once: true }
  )
</script>
