---
import Main from "./MainLayout.astro"
import { Image } from "astro:assets"
const { pageTitle, description, heroImg, heroImgCredit, frontmatter } =
  Astro.props
---

<Main
  pageTitle={pageTitle || frontmatter?.title}
  description={description || frontmatter?.description}
>
  <section class='bg-white rounded-md shadow-md' id='start'>
    {
      heroImg && (
        <div class='relative'>
          <Image
            class='rounded-t-md object-cover w-full h-60 border-b-2 border-red-500'
            src={heroImg || frontmatter?.heroImg}
            alt={pageTitle}
            width={600}
          />
          <div
            class='text-xs italic text-center m-1 text-gray-400'
            set:html={heroImgCredit}
          />
        </div>
      )
    }

    <div class='p-4 sm:p-6 prose max-w-none'>
      <h1>{pageTitle}</h1>
      <slot />
    </div>
  </section>
</Main>
